body
{
	background-color: #1e2225;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}



.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

h1.logo
{
	
	font-size: 25 px;
	font-weight: 400;
	color: white;	
	text-align: center;	
	display: inline-block;
	padding: 30px 30px 10px 10px;
	
}

.navbar
{
	min-height: 57px;
}


.bg-tlonavbar

{
	background-color: black !important;
}


#team
{
	background-color: #2F3336;
	padding-bottom: 70px;
	
}
h1.team
{
	
	font-size: 60px !important;
	font-weight: 600;
	margin-bottom: 80px;
	color: White;
	text-transform: uppercase;
	padding-top:80px;
}

.team
{
	text-align: center;
	margin-top: 200px; 
}

.team img
{
	width: 76%;
	height: auto;
	border-radius: 20px;
	margin-bottom: 10px;
	margin-top: 10px;	
	margin-left:12%;
	
	
	
	
	
}

.teamtext
{
	
	text-align:center;
	
}

.team figcaption
{
	margin-top: 5px;
	
	
		
}

a:link
{
	color: black;
	text-decoration: none;
	
}
a:visited
{
	text-decoration: none;
	color: white;
}
a:hover
{
	color: gray;
	text-decoration: none;	
}


a.team:alink
{
	opacity: 1;
	color: white;
	text-decoration: none;
	
}
a.team:visited
{
	opacity: 1;
	text-decoration: none;
	color: white;
}
a.team:hover
{
	opacity: 0.8;
	color: gray;
	text-decoration: none;	
}

a.teamtext:alink
{
	opacity: 1;
	color: white;
	text-decoration: none;
	
}
a.teamtext:visited
{
	opacity: 1;
	text-decoration: none;
	color: white;
}
a.teamtext:hover
{
	opacity: 0.8;
	color: gray;
	text-decoration: none;	
}

#kimjestesmy
{
	background-color: #1e2225
}

img
{
	width: 100%;
	height: auto;
	
	
}


h1.kimjestesmy
{	
	
	width:auto;
	height: 100%;
	font-size: 60px !important;
	font-weight: 600;
	padding: 10px;
	color: White;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;	
	height: 100%;
	
	
}


.textkimjestesmy
{	
	text-align:justify;
	font-size: 17px;	
	width: 100%;
	height: 100%;	
	
		
	
	
}

.textkimjestesmy1
{	
	font-size: 17px;	
	width: 100%;		
	height:18%;
	text-align:justify;
	
}
.textkimjestesmy2
{	
	padding-top:15px;
	font-size: 17px;	
	width: 100%;
	height: 72%;	
	display: flex;
	justify-content: center;
	align-items: center; 
	
}

.kimjestesmy img
{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	
	
	
}




#cennik
{
	padding-bottom: 100px;
	
}
h1.Cennik
{
	padding-top: 80px;
	text-align:center;
	font-size: 54px;
	
}

h1.Cennik1
{
	text-align:center;
	
	
}
	
h4.Cennik2
{
		text-align:center;
		padding-bottom: 70px;
}	

.CennikPojemnikOpcje
{ 

	width:100%;
	height:600px;	
	
	
}
.CennikOpcje
{ 

	width:100%;	
	height:86%;
	background-color:#5e5e5e;
	margin-top:7%;
		
	
}

.CennikOpcje1
{ 

	width:100%;
	height:96%;
	background-color:#bcbcbc;
	margin-bottom: 0;
	margin-top: 0;	
	
}
.CennikTop
{
	width:100%;
	height:24%;	
	display: flex;
	justify-content: center;
	align-items: center; 
	
}

.CennikMiddle
{
	width:100%;
	padding-top:7%;
	padding-bottom:7%;
	height:20%;
	background-color:white;
	
}

.CennikBottom
{
	width:100%;
	height:56%;	
	display: flex;
	justify-content: center;
	align-items: center; 	
}

p.kolorczarny
{
	color:black;
	
}
h2.CennikNapisGlowny
{
	text-align:center;
	font-size: 43px;
	


}

.wysrodkuj
{
	width:800;
	height:auto;
	text-align:center;
}